body, p, h1, h2, h3, h4, h5 {
  font-family: 'Lato', 'sans-serif';
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
}

.section {
  margin: 30px 0px 0px;
}
.section:nth-child-last {
  margin: 30px 0px 30px;
}
@media (max-width: 500px) {
  .section {
    margin: 10px 0px 0px;
  }
  .section:nth-child-last {
    margin: 10px 0px 10px;
  }
}
@media (min-width: 501px) and (max-width: 900px) {
  .section {
    margin: 20px 0px 0px;
  }
  .section:nth-child-last {
    margin: 20px 0px 20px;
  }
}
